/**
 * Form styles.
 */

// Checkboxes / radio buttons.
.checkbox, .radio {
  // Remove top/bottom margins when in table context, because this is most
  // likely a tableselect checkbox element.
  table &.form-no-label {
    margin-bottom: 0;
    margin-top: 0;
  }
}

// Browsers do not recognize pseudo :after selectors, we must create a wrapper
// around the select element to style it properly.
// $see http://stackoverflow.com/q/21103542
.select-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  .form-inline & {
    width: auto;
  }
  .input-group & {
    display: table-cell;
    // Reset rounded corners
    &:first-child .form-control:first-child {
      @include border-left-radius($border-radius-base);
    }
    &:last-child .form-control:first-child {
      @include border-right-radius($border-radius-base);
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1;
    padding-right: 2em;
    &::-ms-expand {
      opacity: 0;
    }
    &#edit-type  {
      text-transform: capitalize;
    }
  }
  &:after {
    color: $brand-primary;
    content: '▼';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-top: -.5em;
    padding-right: .5em;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10;

    // Use a more stylish icon if the theme uses glyphicons.
    .has-glyphicons & {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e114'; // .glyphicon-chevron-down
      display: inline-block;
      font-family: 'Glyphicons Halflings';
    }
    .has-error & {
      color: $state-danger-text;
    }
    .has-success & {
      color: $state-success-text;
    }
    .has-warning & {
      color: $state-warning-text;
    }
  }
}

// Use CSS/SVG image for required mark.
// @see https://www.drupal.org/node/2152217
// @see https://www.drupal.org/node/2274631
.form-required:after {
  background-image: url(../images/required.svg);
  background-size: 10px 7px;
  content:"";
  display: inline-block;
  line-height:1;
  height: 7px;
  width: 10px;
}

// Form action buttons.
.form-actions {
  .btn, .btn-group {
    margin-right: 10px;
  }
  .btn-group {
    .btn {
      margin-right: 0;
    }
  }
}

.node-form,
.grade-form,
.vehicle-form {
  &>.field--type-language {
    margin-bottom: 0 !important;
  }
}

.form-group {
  margin-bottom: 20px;
}

.file--image {
  display: none;
}

.field--name-field-photos {
  .panel>.panel-collapse>.table {
    margin-bottom: 20px;
  }
  .form-type-managed-file {
    .control-label {
      background-color: #5cb85c;
      border-radius: 4px;
      border: 1px solid #4cae4c;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857;
      margin-bottom: 0;
      margin-bottom: 0;
      padding: 6px 12px;
      text-align: center;
      text-transform: capitalize;
      touch-action: manipulation;
      user-select: none;
      -moz-user-select: none;
      -ms-touch-action: manipulation;
      -ms-user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
      white-space: nowrap;

      &:active {
        background-image: none;
        color: #fff;
        background-color: #449d44;
        border-color: #398439;
        outline: 0;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
      }

      &:focus {
        color: #fff;
        background-color: #449d44;
        border-color: #255625;
        text-decoration: none;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
      }

      &:hover {
        color: #fff;
        background-color: #449d44;
        border-color: #398439;
      }
    }
    .form-control {
      display: none;
    }
  }
}

.form-required:after {
  background-repeat: no-repeat;
  height: 10px;
  margin-left: 0.2em;
}

.form-type-managed-file,
.form-type-url {
  .description {
    display: none;
  }
}

.field--type-text-with-summary {
  .filter-wrapper {
    display: none;
  }
}

.js-form-type-tel {
  .control-label {
    display: block;
    margin-bottom: 5px !important;
  }
  .form-control {
    width: 100% !important;
  }
}

.field--widget-image-image,
.field--widget-inline-entity-form-complex {
  thead,
  .tabledrag-toggle-weight {
    display: none;
  }
  .table>tbody>tr:first-child>td {
    border-top: none;
  }
}

.field--widget-double-field {
  .form-group .form-group {
    display: inline-block;
    margin-bottom: 0;
  }
}

#edit-field-grade-wrapper {
  .select-wrapper {
    width: auto;
  }
}

@include breakpoint(min-width $screen-md-min) {

  .node-form {
    &>div {
      margin-left: 10px;
      margin-right: 10px;
      width: calc(100% - 20px);
    }
    &.node-company-form>div,
    &.node-company-edit-form>div {
      float: left;
      width: calc(50% - 20px);
    }
    &>.form-actions,
    &>.form-type-vertical-tabs  {
      clear: both;
      float: none;
      width: 100%;
      &:after {
        clear: both;
        content: "";
        display: table;
      }
    }
  }

}

.views-exposed-form {
  margin-bottom: $line-height-computed;

  // Match bootstrap "well" style.
  form {
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    min-height: 20px;
    padding: 19px 14px;
  }

  .button {
    height: 34px;
    padding-top: 4px;
  }
}

.limograde-search-city {
  display: inline-block;
  // We need an extra right margin for prod.
  // WARNING: twig debugging inserts *extra* space, make sure
  // to ignore extra space lest it gets removed, thus removing ALL
  // space between the city filter and search button when twig debugging
  // is turned off in prod.
  margin-right: 0.3em;

  @include breakpoint(max-width $screen-xs-max) {
    margin-bottom: 20px;
  }

  &.default-hide {
    display: none;
  }
}
