/**
 * Page styling.
 */

.container-fluid.main-container {
  max-width: 1200px;
}

.region-header {
  @include clearfix;
  background: #1a1a1a;
  margin-left: -15px;
  margin-right: -15px;

  a {
    color: #999;
  }
}

.region-header,
.region-footer {
  padding: 0 ($grid-gutter-width / 2);
}
