/**
 * Panel styling.
 */
.panel-title {
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
  &, &:hover, &:focus, &:hover:focus {
    color: inherit;
  }
  &:focus, &:hover {
    text-decoration: none;
  }
}

.panel-item {
  border-bottom: 1px solid #ddd;
  padding: $line-height-computed 0;
}

.panel-item:first-child {
  padding-top: ($line-height-computed / 2);
}

.panel-item:last-child {
  border-bottom: none;
  padding-bottom: ($line-height-computed / 2);
}
