
.view>.view-content>table {
  margin-bottom: 0;
}

.block-views .view.panel:last-child {
  margin-bottom: $line-height-computed;
}

.block-views:last-child .view.panel:last-child {
  margin-bottom: 0;
}

.view .table {
  & > thead > tr > th:first-child,
  & > tbody > tr > td:first-child {
    padding-left: 0;
  }
  & > thead > tr > th:last-child,
  & > tbody > tr > td:last-child {
    padding-right: 0;
  }
}

.view.panel-warning {
  .table {
    color: #777;

    & > thead,
    & > tbody {
      & > tr {
        & > th,
        & > td {
          border-color: #faebcc;
        }
      }
    }
  }
}

.view {
  .btn-group.dropdown {
    & > .btn {
      font-weight: normal;
    }
  }
}

.view-grades.view-display-id-block_unapproved {
  font-size: $font-size-medium;

  .double-field-first,
  .double-field-second {
    display: inline;
  }
}

.view-vehicles {
  .btn-group.dropdown {
    white-space: nowrap;

    & > .btn {
      float: none;
    }
  }

  .table {

    td.is-active {
      background-color: $gray-lightest;
      font-weight: bold;
      text-transform: uppercase;
    }

    & > thead,
    & > tbody {
      & > tr {
        & > th,
        & > td {
          vertical-align: middle;

          &:nth-child(1),
          &:nth-child(10) {
            width: auto;
          }
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7),
          &:nth-child(8) {
            width: percentage(1/12);
          }
          &:nth-child(2),
          &:nth-child(9) {
            width: percentage(1/4);
          }

          @include breakpoint(max-width $screen-xs-max) {
            &:nth-child(2) {
              width: percentage(7/10);
            }
            &:nth-child(4),
            &:nth-child(8) {
              width: percentage(3/20);
            }
            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(9) {
              display: none;
            }
          }
        }
      }
    }
  }

  &.view-display-id-block_1 {
    .views-field-link-flag {
      padding-right: 0.35em;
    }

    .item-list {
      margin-bottom: $line-height-computed;

      &:last-child {
        margin-bottom: 0;
      }

      ul {
        padding-left: 0;

        li {
          list-style: none;
        }
      }
    }
  }

}
